_Store                                                            
*.iml
*.o
*.obj
*.user
*.aps
*.suo
*.ncb
*.dep
*.pdb
*.dll
*.exe
*.ilk
*.idb
*.manifest
*.manifest.res

*.class
*.jar
*.war
*.swp
tags

.metadata/

tags

.idea/
.metadata/
cache/
target/
bin/
obj/
libs/
Debug/
Release/
Test_MoreWindows/

node_modules/
